@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Yaldevi&display=swap');

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    // color: blue;
}

body {
    background: image_url('spiration-light.png');
    font-family: 'Yaldevi', sans-serif;
}

.navbar {
    background: image_url('beanstalk-dark.png');
    box-shadow: 0px 1px 3px #2a2a2a;
    height: 45px;
}

.navbar-inverse .navbar-brand  {
    color: #FF2D55;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
}

.frost-box {
    -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
    -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
    box-shadow: 1px 1px 2px 0 #d0d0d0;
    background: #fff;
    border: 1px solid #ccc;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 20px;
  }