<div class="container d-flex justify-content-center">
    <div class="row justify-content-center">
        <%@places.each do |place| %>
            <div class="frost-box col-10 offset-1">
                <h1> <%= place.name %> </h1>
                <i> <%= place.address %> </i> <br/> <br/>
                <p> <%= place.description %> </p><br/>
            </div>
        <% end %>
    </div>
</div>

<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="pagination-location">
            <%= will_paginate @places %>
        </div>
    </div>
</div>
