
<%@places.each do |place| %>
    <div class="frost-box col-10 offset-1">
        <h1> <%= place.name %> </h1>
        <i> <%= place.address %> </i> <br/> <br/>
        <p> <%= place.description %> </p><br/>
    </div>
<% end %>

<div class="container col-6 offset-6">
    <div class="pagination-location">
        <%= will_paginate @places %>
    </div>
</div>
